body {
    width: auto;
    height: 100vh;
    background-color: #f7f7f9;
    padding: 0, 50px;
}

html {
    height: 100%;
}

h1 {
    margin: 1rem;
}

input {
    margin: 1rem;
}

select {
    margin: 1rem;
}

img {
    height: auto;
    width: 100%;
}

header {
    border-bottom:1px solid rgba(51, 51, 51, 0.2);
    z-index: 100;
}

main {
    height: 100vh;
}


/* Classes */
.sidebar-wrapper {
    width: 200px;
}

.navbar-brand > img {
    width: 60px;
    height: 60px;
}

.current-install-info {
    width: 90%;
    height: 30vh;
    background-color: #Fff;
    margin-top: 5%;
    margin-bottom: 5%;
}

.install-text {
    font-size: 20px;
    font-weight: 600;
}

.install-name, .install-ids, .detail-title {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.onboarding-block {
    width: 80%;
    height: auto;
}

.navbar {
    background-color: #fff
}

.navbar-nav {
    width: 100%;
}

.side-div {
    margin-top: 30%;
}

.employee-header {
    font-size: 2rem;
    font-weight: bold;
    color:#fff
}

.sidebar {
    position: fixed;
    top:0px;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: #0b132b;
    min-width: 240px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    height: 100vh;
}

.interaction-item {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    list-style-type: none;
}


.interaction-list {
    list-style-type: none;
}

.install-header {
    font-size: 2rem;
    font-weight: bold;
}

.note-link:nth-child(odd) {
    background: #0b132b;
    color:#Fff
}

.note-link:hover {
    background: rgb(114, 114, 114);
    color: #fff;
}

.notes-section, .log-section {
    background: #fff;
}

.notes-area {
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    min-height: 100%;
    overflow-wrap: break-word;
}

.dropdown-text {
    color: #fff;
    font-size: medium;
}
/* IDs */
#weather-icon {
    max-height: 50px;
    max-width: 50px;
}

#employee-name-title {
    font-size: 32px;
    font-weight: bold;
}

#last-title {
    border: none;
}

#homepage-info, #login-info{
    width: 90%;
    height: 90%;
    background-color: #fff;
    /* margin-top: 5%; */
}

#contact {
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 5px;
    height: 60%;
    width: 80%;
    overflow-y: auto;
    background: #fff;
}

#homepage {
    overflow: none;
}

#login-form {
    width: 40%;
}

#note-content {
    min-width: 90%;
}

#add-note {
    min-width: 32px;
    max-width: 200px;
}

#content-404 {
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

#msg-404 {
    font-family:'Oswald', sans-serif;
    font-size: 10rem
}

#page-404 {
    overflow:hidden;
}