h1 {
    margin: 1rem;
}

input {
    margin: 1rem;
}

select {
    margin: 1rem;
}

.onboarding {
    margin: 0 auto;
}

.navbar-brand > img{
    width: 60px;
    height: 60px;
}

.current-install-info {
    width: 90%;
    height: 30%;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 10%;
}

.install-name, .install-ids, .detail-title {
    border-right: 1px solid rgba(51, 51, 51, 0.2);
    height: 100%;
}

#last-title {
    border: none;
}

img {
    height: auto;
    width: 100%;
}

#homepage-info, #login-info{
    width: 90%;
    height: 90%;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}

body, html {
    width: auto;
    height: 100%;
    background-color: #f8f9fa;
}

.onboarding-block{
    width: 80%;
    height: auto;
}

.navbar {
    background-color: #fff
}

.navbar-nav {
    width: 100%;
}

#contact {
    border: 1px solid rgba(51, 51, 51, 0.2);
    width: 80%;
    margin: auto;
    overflow-y: auto;
}

.interaction-item {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    list-style-type: none;
}

.dropdown-menu {
    max-height: 100px;
    max-width: 100%;
    overflow-y: auto;
}


/* .info-display {
    height: 30%;
}

.employee-dropdown {
    height: 10%;
} */