h1 {
    margin: 1rem;
}

input {
    margin: 1rem;
}

select {
    margin: 1rem;
}

.onboarding {
    margin: 0 auto;
}

.navbar-brand > img{
    width: 60px;
    height: 60px;
}

#current-install-info {
    width: 90%;
    height: 20%;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}

.install-name {
    border-right: 1px solid rgba(51, 51, 51, 0.33);
}

.install-ids {
    border-right: 1px solid rgba(51, 51, 51, 0.33);
}


img {
    height: auto;
    width: 100%;
}

#homepage-info, #login-info{
    width: 90%;
    height: 90%;
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}

body, html {
    width: auto;
    height: 100%;
}

.onboarding-block{
    width: 80%;
    height: auto;
}