{% extends 'login.html' %}

{% block content %}
<div class="d-flex text-center justify-content-center align-items-center mx-auto my-0">
    <div class="d-flex row mx-auto justify-content-center onboarding-block">
        <div class="col-lg-5 text-center">
            <h1>Register Installer</h1>
                    {% for category, msg in get_flashed_messages(with_categories=true) %}
                        <div class="alert alert-{{ category }}">{{ msg }}</div>
                    {% endfor %}
            <form method="POST" id="register-form">
                {{form.hidden_tag()}}

                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{error}}</span>
                    {% endfor %}
                    {{field(placeholder=field.label.text, class='form-control')}}
                {% endfor %}
                <button class="btn btn-primary mx-2">Add Installer</button>
                <a class="btn btn-secondary mx-2">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}