{% extends 'login.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center onboarding">
        <div class="col-lg-5 text-center">
            <h1>Register Installer</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <div class="alert alert-{{ category }}">{{ msg }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="POST" id="register-form">
                {{form.hidden_tag()}}

                {% for field in form if field.widget.input_type != 'hidden' %}
                    {% for error in field.errors %}
                        <span class="text-danger">{{error}}</span>
                    {% endfor %}
                    {{field(placeholder=field.label.text, class='form-control')}}
                {% endfor %}
                <button class="btn btn-primary">Add Installer</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}