{% extends 'user/base.html' %}

{% block content %}
<div class="d-block container-fluid text-center current-install-info">
    <div class="row mx-auto">
        <div class="col-6 install-name">
            <div class="install-headers mb-3">
                <h1  class="mb-1 install-header">Current Install:</h1>
                <h3 id="install-dealership">Tom Wood Ford</h3>
            </div>
            <div class="header-buttons">
                <a href="/user/{{ user.userid }}/{{ user.current_dealership }}/interaction-log" class="btn btn-light btn-lg m-1">Interaction Log</a>
            </div>
        </div>
        <div class="col-2 install-ids pl-4">
            <div class="install-id-title mb-3">
                <h3  class="mb-1">Enterprise #</h4>
                    <h4 class="install-data">{{ dealer.ent_code }}</h4>
            </div>
        </div>
        <div class="col-2 install-ids px-2">
            <div class="install-id-title mb-3">
                <h3 class="mb-1">Store #</h4>
                    <h4 class="install-data">{{ dealer.store_num }}</h4>
            </div>
        </div>
        <div class="col-2 install-ids px-2">
            <div class="install-id-title mb-3">
                <h3 class="mb-1">DTID</h4>
                    <h4 class="install-data">{{ dealer.dtid }}</h4>
            </div>
        </div>
    </div>
</div>
<div class="d-flex text-center justify-content-center align-items-start current-install-info mx-auto">
    <div class="row mx-auto">
        <h1 class="mb-1">Covid Check-In</h1>
    </div>
</div>
<div class="d-flex text-center justify-content-around align-items-center current-install-info mx-auto">
    <div class="row mx-auto">
        <div class="col-6 detail-title">
            <h1>Upcoming Installs</h1>
        </div>
        <div class="col-6">
        </div>
    </div>
</div>
<div class="d-flex text-center align-items-center current-install-info mx-auto">
    <div class="row detail-title justify-content-center">
        <div class="col-6 mx-auto">
            <h1 class="mb-1">Travel Info</h1>
        </div>
        <div class="col-6">

        </div>
    </div>
</div>
{% endblock %}