{% extends 'user/base.html' %}

{% block content %}
<div class="container-fluid mx-auto" style="height: 100%;">
    <div class="row employee-dropdown my-4 text-center" style="height: 20%">
        <div class="col-12">
            <div class="dropdown btn-group btn-block">
                <button class="btn btn-dark dropdown-toggle btn-lg btn-block" type="button" id="select-employee" data-toggle='dropdown' aria-expanded="false">
                    Select Employee
                </button>
                <div class="dropdown-menu w-100 text-center install-text">
                    {% for emp in dealer.employees %}
                    <a class="dropdown-item employees-int"  id="{{dealer.employees.index(emp)}}">{{emp}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row d-none my-4 mx-auto justify-content-center info-display" style="height: 40%;" id="emp-info">
        <div class="d-flex col-4 text-center align-items-center">
            <div class="mx-auto">
                <h4 id="employee-name-title"></h4>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="interaction-type" data-toggle='dropdown' aria-expanded="false">
                        Type of Interaction
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="dropdown-item int-action">Called Dealership</a></li> 
                        <li><a href="#" class="dropdown-item int-action">Dealership Called</a></li>
                        <li><a href="#" class="dropdown-item int-action">Sent Email</a></li>
                        <li><a href="#" class="dropdown-item int-action">Recieved Email</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-4 text-center">
            <p id="notes-header" class=" install-text">Notes</p>
            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" id='note-content' rows="10"></textarea>
            </div>
            <button class="btn btn-primary btn-block my-2" id="add-note">Add</button>
        </div>
        <div class="col-4 text-center">
            <p id="log-header" class=" install-text">Log</p>
            <div id="contact">
                <ul class="interaction-list p-0">
                    
                </ul>
            </div>
        </div>
    </div>
    <div class="row mx-auto my-4 d-none notes-area">
        <div class="col-12">
            <div>
            <h2 class="notes-title d-block">Interaction Notes</h2>
            <h4 id="time-of-note"></h4>
            <p class="d-block note-formatting" id="note-display"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}