{% extends 'user/base.html' %}

{% block content %}
<div class="container-fluid mx-auto" style="height: 100%;">
    <div class="row employee-dropdown my-4 text-center" style="height: 20%">
        <div class="col-12">
            <div class="dropdown btn-group">
                <button class="btn btn-dark dropdown-toggle btn-lg" type="button" id="select-employee" data-toggle='dropdown' aria-expanded="false">
                    Select Employee
                </button>
                <ul class="dropdown-menu">
                    {% for emp in dealer.employees %}
                    <li class="text-decoration-none"><a class="dropdown-item employees-int"  id="{{dealer.employees.index(emp)}}">{{emp}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row info-display my-4 text-center d-none" style="height: 40%;" id="emp-info">
        <div class="col-4">
            <h4 id="employee-name-title"></h4>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="interaction-type" data-toggle='dropdown' aria-expanded="false">
                    Type Of Interaction
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" class="dropdown-item int-action">Called Dealership</a></li> 
                    <li><a href="#" class="dropdown-item int-action">Dealership Called</a></li>
                    <li><a href="#" class="dropdown-item int-action">Sent Email</a></li>
                    <li><a href="#" class="dropdown-item int-action">Recieved Email</a></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <h5 id="notes-header"></h5>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-primary text-white">Notes:</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" id='note-content' rows="10"></textarea>
            </div>
            <button class="btn btn-primary float-right my-2" id="add-note">Add</button>
        </div>
        <div class="col-4">
            <div style="height: 275px;">
                <div id="contact" style="height: 100%;">
                    <ul class="interaction-list">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-auto my-4 d-none notes-area">
        <div class="col-12">
            <div>
            <h2 class="notes-title d-block">Interaction Notes</h2>
            <h4 id="time-of-note"></h4>
            <p class="d-block note-formatting" id="note-display"></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}